@import "../base/colors";
@import "../base/typography";
@import "../utils/mixins";

.contact_section {
  width: 100%;
  background: $lighter_grey;
  padding: 10px 0;
}

.contact_title {
  font-size: 50px;
  color: $dark_grey;
  font-weight: $roboto_black;
  letter-spacing: 0px;
  line-height: 36px;
  text-align: center;
}

.contact_container {
  width: 100%;
  margin: 0 auto;

  @include breakpoint(tablet) {
    width: 493px;
  }
}

%contact_elem {
  font-size: 22px;
  color: $dark_grey;
  text-align: left;
  width: 100%;
  line-height: 36px;
}

.contact_form {
  padding: 0 10px;
  
  label {
    @extend %contact_elem;
  }
  input {
    @extend %contact_elem; 
    height: 80px;
    border: none;
    border-radius: 4px;
    margin-bottom: 17px;
  }
  input:focus {
    border-color: $blue;
  }
  textarea {
    @extend %contact_elem;
    height: 202px;
    border: none;
    border-radius: 4px;
    resize: none;
    padding: 1px 0;
  }
  textarea:focus {
    border-color: $blue;
  }
  input[type="submit"] {
    margin-top: 21px;
    font-weight: $roboto_bold;
    background: $blue;
    color: $white;
    text-align: center;
  }
}